* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
}

.nav {
    background-color: #19181d;
    color: white;

    width: 260px;

    padding: 20px 0 20px 45px;

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0 80px;
        cursor: pointer;

        img {
            width: 26px;
            height: 26px;
            color: white;
        }

        .logo-title {
            font-size: 18px;
            margin-left: 10px;
            font-weight: bold;
        }
    }

    .menu {
        margin-bottom: 45px;
        

        h2 {
            font-size: 11px;
            color: #7e7d83;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
        }
    
        ul {
            list-style-type: none;
            
            
            li {
                color: white;
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 12px;
                
                a {
                    height: 20px;
                    border-radius: 2px;
                    text-decoration: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    /* transition: all 100ms; */

                    span {
                        margin-left: 13px;
                        font-weight: 700;
                    }
                    
                    i {
                        font-size: 15px;
                    }
                }

                a:hover {
                    border-right: 2px solid #6776D0;
                    color: #6776D0;
                }

                .active {
                    border-right: 2px solid #6776D0;
                    color: #6776D0;
                }
            }
        }
    }
}

.container {
    background-image: linear-gradient(to bottom,#121116 0 30%, #19181d 50% 100% );
    color: white;

    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 20px;
    
        .txt {
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            width: 180px;
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: #7e7d83;
                display: flex;
                align-items: center;
                transition: all 100ms;
            }

            a:hover {
                color: #6776D0;
            }

            .active {
                color: #6776D0;
            }
        }

         
        .pesquisa {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            .search-icon {
                position: absolute;
                left: 10px;
                top: 10px;
            }

            input {
                background-color:#1D1D1D;
                height: 36px;
                outline: none;
                border: 1px solid #3f3f3f;
                border-radius: 6px;
                padding: 10px 10px 10px 30px;
                color: white;
                transition: all 100ms;
            }

            input::placeholder {
                color: #ffffff86;
            }

            input:focus {
                border: 1px solid #6776D0;
            }
        }
    
        .right {
            display: flex;
            align-items: center;

            .perfil {

                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

.feather {
    width: 15px;
    height: 15px;
}