* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    /* explicar */
    display: flex;
    background-color: blue;
}

.title {
    font-size: 24px;
    margin-bottom: 60px;
}

.nav {
    background-color: #19181d;
    color: white;

    /* explicar */
    overflow: hidden;

    width: 20%;

    padding: 20px;

    .menu {
        margin-bottom: 45px;

        h2 {
            font-size: 20px;
            color: #5f5c65;
            margin-bottom: 15px;
        }
    
        ul {
            /* explicar */
            list-style-type: none;
    
            li {
                color: white;
                margin-bottom: 20px;
                font-weight: bold;
            }
        }
    }
}


.container {
    background-color: #050505;

    padding: 50px;

    width: 85%;
}